<section class="bdg-sect">

    <h1 id="iou9ez-2" class="bdg-title">Mas populares</h1>
    <div id="is3w64-2" class="badges">

      <div class="badge">
            <img src="./assets/img/amd2.png" routerLink="/producto/componentes" (click)="onOption('/producto/componentes')"/>
        <p>Componentes</p>
          </div>

      <div class="badge">
            <img src="./assets/img/teclado.png" routerLink="/producto/perifericos" (click)="onOption('/producto/perifericos')"/>
        <p>Periféricos</p>
      </div>

      <div id="i8b424-2" class="badge">
          <img src="./assets/img/notebook.png" routerLink="/producto/notebooks" (click)="onOption('/producto/notebooks')"/>
        <p>Notebooks</p>
        </div>


      <div id="ipg84d-2" class="badge">
            <img src="./assets/img/pcs.png" routerLink="/producto/pc" (click)="onOption('/producto/pc')" />
        <p>PCs</p>
          </div>
    </div>

</section>

