

    <div class="login-under d-flex justify-content-center">
        <div class="container">
            <form [formGroup]="form" class="row g-3 needs-validation" novalidate (submit)="actualizarUsuario($event)">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre"
                        formControlName="nombre"
                        [ngClass]="{'is-invalid' : hasErrors('nombre', 'required') || hasErrors('nombre', 'minlength')}">
                    <div *ngIf="hasErrors('nombre', 'required')" class="text-danger">Complete este campo</div>
                    <div *ngIf="hasErrors('nombre', 'minlength')" class="text-danger">Debe tener al menos 4 caracteres
                    </div>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Ingrese Apellido"
                        formControlName="apellido"
                        [ngClass]="{'is-invalid' : hasErrors('apellido', 'required') || hasErrors('apellido', 'minlength')}">
                    <div *ngIf="hasErrors('apellido', 'required')" class="text-danger">Complete este campo</div>
                    <div *ngIf="hasErrors('apellido', 'minlength')" class="text-danger">Debe tener al menos 4 caracteres
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Ingrese Password"
                        formControlName="password"
                        [ngClass]="{'is-invalid' : hasErrors('password', 'required') || hasErrors('password', 'minlength')}">
                    <div *ngIf="hasErrors('password', 'required')" class="text-danger">Complete este campo</div>
                    <div *ngIf="hasErrors('password', 'minlength')" class="text-danger">Debe tener al menos 6 caracteres
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Modificar</button>
                </div>
            </form>
        </div>
    </div>
