<footer class="footer-under" id="footer">
  <div class="container-width">
    <div class="footer-container" id="i0u9sk">
      <div class="foot-lists">
        <div class="foot-list">
        </div>
      </div>
      <div class="form-sub">
        <div class="foot-form-cont">
          <div class="foot-form-title" id="ixozki">Contáctanos</div>
          <div class="foot-form-desc" id="ionwks">Envíanos un mail<br /></div>
          <form (ngSubmit)="enviarEmail()">
            <input type="email" [(ngModel)]="correo" name="email" placeholder="Email" class="sub-input" required />
            <textarea type="textarea" [(ngModel)]="message" name="message" placeholder="Mensaje" class="sub-input-2" id="imo1tz"  maxlength="100"required></textarea>
            <button type="submit" class="sub-btn" routerLink="./" (click)="onOption('./')" >Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    &#64;Copyright 2024
    Samuel Mindler - Bruno Roldós - Facundo Molina - Facundo Techera
    <!-- Contenido del copyright -->
  </div>
</footer>
